<div class="row footer_row">
    <!-- <hr><small> -->
    <div class="col-md-3">
        <img src="/static/assets/images/CEDA_logo_N.png" alt="" height="35px" style="padding-left: 75px;">
    </div>
    <div class="col-md-6">
        <ul class="BI__logos">

            <li>
                <p class="pragyan_title">
                    <!-- <img src="../static/assets/images/pragyan.svg" alt="Pragyan"> -->
                    Data Visualisation Platform, Designed &amp; Developed by
                </p>
                <p> <strong>CENTRE OF EXCELLENCE FOR DATA ANALYTICS</strong>
                </p>
            </li>
        </ul>
    </div>
    <div class="col-md-3" style="text-align:right;">
        <img src="/static/assets/images/nicsi_logo_white.svg" alt="" height="32px" style="padding-right: 75px;">
    </div>
</div>